@model IEnumerable<ConnectToMongoDB.Models.MonHoc>
@{
    ViewData["Titile"] = "Index";
}
<h1>Danh sách môn học</h1>
<p>
    <a class="btn btn-primary btn-lg" style="text-decoration:none" asp-action="Create">Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Mã môn học
            </th>
            <th>
                Tên môn học
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaMH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenMH)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id=item._id }) |
                @Html.ActionLink("Chi tiết", "Details", new { id=item._id }) |
                @Html.ActionLink("Xóa", "Delete", new { id=item._id })
            </td>
        </tr>
}
    </tbody>
</table>
